---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"<PLAID_TEST_PUBLIC_TOKEN>","client_id":"<PLAID_CLIENT_ID>","secret":"<PLAID_SECRET_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<PLAID_TEST_ACCESS_TOKEN>",
          "request_id": "TbJKB"
        }
  recorded_at: Sun, 16 Apr 2017 23:06:27 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/processor/stripe/bank_account_token/create
    body:
      encoding: UTF-8
      string: '{"access_token":"<PLAID_TEST_ACCESS_TOKEN>","account_id":"<PLAID_TEST_ACCOUNT_ID>","client_id":"<PLAID_CLIENT_ID>","secret":"<PLAID_SECRET_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "request_id": "w8gJv",
          "stripe_bank_account_token": "<PLAID_TEST_BANK_ACCOUNT_TOKEN>"
        }
  recorded_at: Sun, 16 Apr 2017 23:06:30 GMT
recorded_with: VCR 3.0.3
